<!DOCTYPE html>
<html>
  <head>
    <title>RecipeBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>&nbsp;&nbsp;
          <% if logged_in? %>
            <li><%= link_to "Add a Recipe", new_recipe_path %></li>&nbsp;&nbsp;
            <li><%= link_to "All Labels", labels_path %></li>&nbsp;&nbsp;
            <%= link_to "Logout", '/logout' %>
          <% else %>
            <li><%= link_to 'Login', '/login' %></li>
          <% end %>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
     </div>
  </body>
</html>
